
<section class="dark" id="home">
    @if (hero is not null)
    {
        <img class="background" width="2" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <div class="content">
        @if (property is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <h1 id="property-name">@property.Name</h1>
            <h2 id="property-title">@property.Title</h2>
        }

    </div>
</section>

@code {

    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private SiteProperties? property;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        property = await Http.GetFromJsonAsync<SiteProperties>("sample-data/siteproperties.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "home");
    }
}
