
<div class="languages">
    <h3 class="section-title">Languages</h3>
    <ul>
        <li>
            <span class="language-icon"><i class="fi fi-iq"></i></span>
            <span class="language-name">Arabic</span>
            <span class="language-level">Limited working proficiency</span>
        </li>
        <li>
            <span class="language-icon"><i class="fi fi-us"></i></span>
            <span class="language-name">English</span>
            <span class="language-level">Full professional proficiency</span>
        </li>
        <li>
            <span class="language-icon"><i class="fi fi-de"></i></span>
            <span class="language-name">German</span>
            <span class="language-level">Elementary proficiency</span>
        </li>
        <li>
            <span class="language-icon"><i class="fi fi-iq"></i></span>
            <span class="language-name">Kurdish</span>
            <span class="language-level">Native or bilingual proficiency</span>
        </li>
        <li>
            <span class="language-icon"><i class="fi fi-ru"></i></span>
            <span class="language-name">Russian</span>
            <span class="language-level">Limited working proficiency</span>
        </li>
    </ul>
</div>
<hr />
@code {

}
