<header id="header">
    <nav class="@(showTabs ? "show" : "")">
        <a href="#home" target="_top">Home</a>
        <a href="#about" target="_top">About</a>
        <a href="#experience" target="_top">Experience</a>
        <a href="#education" target="_top">Education</a>
        <a href="#badges" target="_top">Badges</a>
        <a href="#portfolio" target="_top">Portfolio</a>
        <a href="#contact" target="_top">Contact</a>
    </nav>
    <div class="toggle-tabs-icon" @onclick="ToggleTabs">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</header>

@code {
    private bool showTabs = false;

    private void ToggleTabs()
    {
        showTabs = !showTabs;
    }
}
